<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/css/boostrap/bootstrap-min.css">
	{% block head %}{% endblock %}
</head>
<body>
<div class="container">
		<div class="row">
			<center><h1 class="h1">Blog</h1></center>
		</div>
		<div class="row">
			<h1 class="col-md6 h3">Bienvenido {% if user %} {{ user }} {% endif %}</h1>
			<div class="col-md-3"><img src="{% if img %} {{ img }} {% else %} http://placeimg.com/100/100/arch {% endif %}" class="img-responsive center-block img-circle"></div>
</div>
    {% block body %}{% endblock %}
</body>
</html>
