<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/boostrap/bootstrap-min.css">
<!-- Ej title 
	<link ... > se referencia el style css(href)-->
<title>Pag de Ejemplo</title>
</head>
<body>
<!-- en el body va todo el codigo -->
	<h3 class="h3"> Desea eliminar la siguiente entrada? </h3>
	
		Titulo: <p>{{ bloglist.titulo }}</p>
		Contenido: <p>{{ bloglist.contenido }} </p> 
	
	<form action="" method="post">
		<input type="submit" name='Si' value="Si">
	</form>
	  {% if error %}
    <hr></hr>
        <p> No puede eliminar un Post que no sea de Usted</p>
		<script> alert("No puede eliminar un post que no sea de usted")
		window.location.href ="/"</script>
    {% endif %}
</body>
</html>