<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous">
	</head>
	<body>
		<form>
			
			<input type="submit">
			<label>
			Uno
			<input type="checkbox" name="q" value="Uno">
			</label>
			<label>
			Dos
			<input type="checkbox" name="r" value="Dos">
			</label>
			<label>
			Tres
			<input type="checkbox" name="s" value="Tres">
			</label>
			<br><br>
			<select name="j">
				<option value="1"> UNO </option>
				<option> dos </option>
				<option> tres </option>
			</select>
						
		</form>

		<table class="table table-hover">
			<thead>
			<tr>
				<th>col1</th>
				<th>col2</th>
				<th>col3</th>
				<th>col4</th>
			
			</tr>
			
			</thead>
			<tbody>
				<tr>
					<th>col1</th>
					<th>col2</th>
					<th>col3</th>
					<th>col4</th>
				
				</tr>
				<tr>
					<th>col1</th>
					<th>col2</th>
					<th>col3</th>
					<th>col4</th>
				
				</tr>
			</tbody>
		
		</table>
		

	</body>

</html>